name: Test and build

on:
  push:
  pull_request:
    branches:
      - main
  schedule:
    - cron: "0 7 * * 1"

jobs:
  style-checks:
    name: Run style checks
    runs-on: ubuntu-22.04
    steps:
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      - uses: actions/checkout@v4

      - run: |
          python3 -m pip install .[style]
        name: Install
      - run: |
          python3 -m ruff check .
          python3 -m ruff format --check .
        name: Ruff checks
      - run: |
          python3 -m mypy --install-types --non-interactive .
          python3 -m mypy .
        name: mypy checks

  run-tests:
    name: Run tests
    runs-on: ubuntu-22.04
    steps:
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - uses: actions/checkout@v4

      - run: python3 -m pip install pytest-xdist
        name: Install dependencies

      - run: python3 -m pip install .
        name: Install

      - run: python3 -m pytest -n4 test
        name: Run tests with pytest
